body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
body {
    background-color: white;
}

#home {
    background: url('path_to_carousel_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#home .content {
    z-index: 1;
}

.full-width-image img {
    width: 100%;
}

#proximo-projeto .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

footer {
    background-color: orange;
    padding: 20px 0;
    color: white;
}

